@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist', sans-serif;
}

@layer base {
  :root {
    --background: 240 5.9% 90%;
    --foreground: 240 10% 3.9%;
    --card: 240 4.8% 95.9%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --primary-rgb: 24, 24, 27;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.75rem;
    --sidebar-background: 240 4.8% 95.9%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 3.9%;
    --primary-rgb: 250, 250, 250;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 0 0% 98%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* @apply bg-background text-foreground; */
    @apply text-foreground;
  }
  .container {
    @apply pr-0;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .bg-grid-pattern {
    background-image: linear-gradient(to right, hsl(var(--border) / 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--border) / 0.2) 1px, transparent 1px);
    background-size: 2rem 2rem;
  }
  .blob-c {
    @apply absolute -z-10 rounded-full opacity-50 mix-blend-soft-light blur-2xl filter;
    animation: blob-bounce 25s infinite alternate;
  }
  .blob-c:nth-child(2) {
    @apply -bottom-1/4 -left-1/4 h-64 w-64 bg-cyan-400;
  }
  .blob-c:nth-child(3) {
    @apply -right-1/4 -top-1/4 h-72 w-72 bg-fuchsia-400;
  }
}

@keyframes blob-bounce {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(30vw, 15vh) scale(1.1);
  }
  50% {
    transform: translate(60vw, 20vh) scale(1.2);
  }
  75% {
    transform: translate(20vw, 80vh) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
